# categories
categories:
  history:
    size: 5
    select: 2
  maths:
    size: 5
    select: 2
# mail settings
mail:
    host: 'mail.server.com'
    port: 000
    sender_email: 'user@mail.com'
    password: 'password'
#messages settings
messages:
    subject: "Θέματα μαθήματος Μέθοδοι και Εργαλεία Σχεδίασης και Ανάπτυξης Πληροφοριακών Συστημάτων"
    body : "Παρακαλείστε να απαντήσετε στη φόρμα https://test.link "

